<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Identify Action</title>
  <meta name="description" content="Identify Action">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
  <link rel="stylesheet" href="../resources/main.css">
  <script src="../resources/viewhelpers.js"></script>
  <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
</head>

<body>
<div class="container">
  <div id="content"></div>
  <div id="event-data-form">
    <form class="p-3">
      <fieldset class="p-3 scheduler-border">
        <legend id="g_id" class="scheduler-border">ID</legend>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="visitor_id">Visitor ID</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="visitor_id">
          </div>
          <div class="fa-i" data-de="visitor_id">
            <span class="fa fa-database fa-lg" aria-hidden="true"></span>
          </div>
        </div>
      </fieldset>
      <fieldset class="p-3 scheduler-border">
        <legend id="g_props" class="scheduler-border">Properties</legend>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="name">Name</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="name">
          </div>
          <div class="fa-i" data-de="name">
            <span class="fa fa-database fa-lg" aria-hidden="true"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="fname">First Name</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="fname">
          </div>
          <div class="fa-i" data-de="fname">
            <span class="fa fa-database fa-lg" aria-hidden="true"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="lname">Last Name</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="lname">
          </div>
          <div class="fa-i" data-de="lname">
            <span class="fa fa-database fa-lg" aria-hidden="true"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="gender">Gender</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="gender">
          </div>
          <div class="fa-i" data-de="gender">
            <span class="fa fa-database fa-lg" aria-hidden="true"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="age">Age</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="age">
          </div>
          <div class="fa-i" data-de="age">
            <span class="fa fa-database fa-lg" aria-hidden="true"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="address">Address</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="address">
          </div>
          <div class="fa-i" data-de="address">
            <span class="fa fa-database fa-lg" aria-hidden="true"></span>
          </div>
        </div>
      </fieldset>
      <fieldset class="p-3 scheduler-border">
        <legend id="g_other_ids" class="scheduler-border">Other IDs</legend>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="email">Email</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="email">
          </div>
          <div class="fa-i" data-de="email">
            <span class="fa fa-database fa-lg" aria-hidden="true"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="phone">Phone</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="phone">
          </div>
          <div class="fa-i" data-de="phone">
            <span class="fa fa-database fa-lg" aria-hidden="true"></span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label" for="crmid">CRM ID</label>
          <div class="col-sm-5">
              <input type="text" class="form-control" id="crmid">
          </div>
          <div class="fa-i" data-de="crmid">
              <span class="fa fa-database fa-lg" aria-hidden="true"></span>
          </div>
      </div>
      </fieldset>

    </form>
  </div>

  <script>
    deStuff();
  </script>
</div>

<script>
  window.extensionBridge.register({
    init: function (info) {
      if (info.settings) {
        // Populate form values from persisted settings.
        document.getElementById('visitor_id').value = info.settings.g_id.visitor_id || '';

        document.getElementById('name').value = info.settings.g_props.name ||'';
        document.getElementById('lname').value = info.settings.g_props.lname ||'';
        document.getElementById('fname').value = info.settings.g_props.fname ||'';
        document.getElementById('gender').value = info.settings.g_props.gender ||'';
        document.getElementById('age').value = info.settings.g_props.age ||'';
        document.getElementById('address').value = info.settings.g_props.address ||'';

        document.getElementById('email').value = info.settings.g_other_ids.email ||'';
        document.getElementById('phone').value = info.settings.g_other_ids.phone ||'';
        document.getElementById('crmid').value = info.settings.g_other_ids.crmid ||'';
      }
    },

    getSettings: function () {
      // Return settings object from form values.
      return {
        'g_id': { visitor_id: document.getElementById('visitor_id').value || ''},
        'g_props':{
          name: document.getElementById('name').value || '',
          lname: document.getElementById('lname').value || '',
          fname: document.getElementById('fname').value || '',
          gender: document.getElementById('gender').value || '',
          age: document.getElementById('age').value || '',
          address: document.getElementById('address').value || ''
        },
        'g_other_ids':{
          email: document.getElementById('email').value || '',
          phone: document.getElementById('phone').value || '',
          crmid: document.getElementById('crmid').value || ''
        }



      };
    },

    validate: function () {
      return true;
    }
  });
</script>
</body>

</html>
